<div class="home">
  <app-banner></app-banner>

  <div class="title noselect">
    <i class="bi bi-boombox-fill"></i>
    <span>Search results</span>
  </div>

  <div class="home__myArtists">

      <div *ngFor='let artist of listOfsearch; let id=index' >
          <div class="artistcard" (click)="gotoArtist(id)">
            <img src={{artist.cover_xl}} alt="">
            <div class="details">
               <span class="album-title"> {{artist.title }}</span>
            </div>
         </div>

      </div>

  
   
  </div>
</div>
