.<div class="container-fluid">
      <div class="row">
        <div class="card mb-3" style="max-width: 100%; ">
            <div class="row g-0">
              <div class="col-md-8">
    
    
                <div class="container text-center">
                    <div class="row">
                      <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">{{_artist.name}}</h5>
                            <p class="card-text">{{_artist.nb_fan | numbersConvertion}} Fans</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div class="col">
                        <img src={{_artist.picture_small}} class="img-fluid rounded-start" alt="...">
                      </div>
                    </div>
                  </div>
    
         
              </div>
              <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
              </div>
            </div>
          </div>
      </div>

      <!-- Albums -->
      <div class="row">
        <h1>Albums</h1>

        <div  class="col col-xl-3" *ngFor="let album of _albums">
            <br>
            <div class="card" >
                <img src={{album.cover_medium}} class="card-img-top" alt="...">
                <div class="card-body">
                 <h5>{{ album.title }}</h5>
                 <h5>{{ album.release_date }}</h5>
                </div>
              </div>
          </div>
      </div>


</div>


