<div class="home">
  <app-banner></app-banner>

  <div class="title noselect">
    <i class="bi bi-boombox-fill"></i>
    <span>Your favourite artists</span>
  </div>

  <div class="home__myArtists">
    <div *ngFor='let artist of listOfArtists'>

      <div class="artistcard" (click)="gotoArtist(artist.id)">
        <img src={{artist.picture_big}} alt="">
        <div class="details">
           <span class='title'>{{artist.name | songname}}</span>
           <span class='subtitle'>{{artist.nb_fan | numbersTransform}} Fans</span>
        </div>
     </div>

    </div>
  </div>
</div>
